<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Gorditas Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="primary">
            Gorditas
          </ion-list-header>
          <ion-item>
            <ion-label>Gorditas</ion-label>
            <ion-note slot="end">$25</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Con guiso extra</ion-label>
            <ion-note slot="end">$30</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Sopes Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="primary">
            Sopes
          </ion-list-header>
          <ion-item>
            <ion-label>Sopes</ion-label>
            <ion-note slot="end">$25</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Con guiso extra</ion-label>
            <ion-note slot="end">$30</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Quesadillas Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="primary">
            Quesadillas
          </ion-list-header>
          <ion-item>
            <ion-label>Quesadillas</ion-label>
            <ion-note slot="end">$25</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Con guiso extra</ion-label>
            <ion-note slot="end">$30</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Tacos Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="primary">
            Tacos
          </ion-list-header>
          <ion-item>
            <ion-label>Tacos</ion-label>
            <ion-note slot="end">$25</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Con guiso extra</ion-label>
            <ion-note slot="end">$30</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Platillo del día Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="secondary">
            Platillo del Día
          </ion-list-header>
          <ion-item>
            <ion-label>Incluye entrada, plato fuerte y agua del día</ion-label>
            <ion-note slot="end">$85 / $90 para llevar</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Guisos Extras Section -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="tertiary">
            Guisos Extras
          </ion-list-header>
          <ion-item>
            <ion-label>Azadura</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Desebrada</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nopales</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Papas</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Chicharrón</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Guacamole</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Picadillo</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Longaniza</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Carne al Pastor</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Chorizo</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-list>
          <ion-list-header color="tertiary">
            Bebidas
          </ion-list-header>
          <ion-item>
            <ion-label>Café</ion-label>
            <ion-note slot="end">$17</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Refresco</ion-label>
            <ion-note slot="end">$25</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Agua de litro</ion-label>
            <ion-note slot="end">$12</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Agua de medio litro</ion-label>
            <ion-note slot="end">$8</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Boing de caja</ion-label>
            <ion-note slot="end">$15</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Agua del día 1/2 litro</ion-label>
            <ion-note slot="end">$20</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
      