<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-img src="assets/images/food1.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Delicious Gorditas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Prueba nuestras mejores gorditas con diferentes rellenos y sabores. ¡Te encantarán!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-img src="assets/images/food2.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Sopes Especiales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Sopes tradicionales preparados con ingredientes frescos y de calidad.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-img src="assets/images/food3.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Quesadillas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Quesadillas hechas a mano, con la mejor selección de quesos y rellenos.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-img src="assets/images/food4.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Comida del día</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Comida corrida todos los días, totalmente diferente.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
